p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248,248,248);
}
.images{
    width: 100%;
     height: auto;
    display: block;
    cursor: pointer;
 }
 
 
 .video-title{
     margin-top: 0px;
     font-weight: 600;
     font-size: 14px;
     margin-bottom: 13px;
     line-height: 20px;
     cursor: pointer;
 }
 
 .video-info-grid{
     display: grid;
     grid-template-columns: 50px 1fr;
 
 }
 .channel-picture{
     
     vertical-align: top;
     cursor: pointer;
 
 }
 
 .profile-pic{
     width: 36px;
     border-radius: 50px;
 }
 
 .thumbnail-row{
     margin-bottom: 12px;
     position: relative;
 }
 .video-author,
 .video-stats{
     font-size: 13px;
     color: rgb(96,96,96);
 }
 .video-author{
     margin-bottom: 4px;
     cursor: ss;
 }
 .video-grid{
     display: grid;
     column-gap: 16px;
     row-gap: 40px;
     grid-template-columns: 1fr 1fr 1fr;
 
 }
 .video-time{
     position: absolute;
     bottom: 10px;
     right: 8px;
     font-family: Roboto,Arial;
     font-size: 12px;
     font-weight: 500;
     padding: 4px 4px;
     border-radius: 2px;
     background-color: black;
     color: white;
     cursor: pointer;
 
 }
 
 .sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    width:72px;
    z-index: 200;
    padding-top: 5px;
    
}
.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;

}
.name-of-icons{
    font-family: Roboto,arial;
    font-size: 10px;
    font-weight: 500;
}

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index:100 ;
    background-color: white;
    border-bottom-width:1px ;
    border-bottom-style: solid;
    border-bottom-color:rgb(228, 228, 228) ;


}
.left-section{
    display: flex;
    align-items: center;
   
}
.menu-class{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}

.youtube-logo{
    height: 20px;
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 19px;
    padding: 10px;
    font-size: 16px;
    width: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}
.search-btn{
    height: 41px;
    width: 66px;
    background-color:rgb(240, 240, 240) ;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
    margin-right:10px ;
    position: relative;
    cursor: pointer;
}
.search-btn .tooltip{
position: absolute;
background-color: grey;
color: white;
padding: 4px 8px;
border-radius: 3px;
font-size: 12px;
bottom: -30px;
opacity: 0;
transition:opacity 0.5s;
}
.search-btn:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height: 20px;
    margin-top: 4px;

}

.voice-btn{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(245,245,245);
    position: relative;
    
}
.voice-btn .tooltip{
    position: absolute;
    background-color: grey;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    width: 100px;
    transition:opacity 0.5s;
    }
    .voice-btn:hover .tooltip{
        opacity: 1;
    }
.voice-icon{
    height: 24px;
    margin-top: 4px;
}
.right-section{
    width: 200px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    
}
.upload-icon{
    height: 24px;

}
.youtube-app-icon{
    height: 24px;
}
.notification-icon{
    height: 24px;
}
.notification{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(196, 39, 39);
    color: white;
    font-family: Roboto,Arial;
    font-size: 11px;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
}
.my-channel-icon{
    height: 34px;
    border-radius: 16px;
}


